<h1>Nouvel Événement</h1>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Titre</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Description</label>
      <input type="email" class="form-control" id="inputemail4" placeholder="">
    </div>
  </div>
	<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Lieu</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="">
    </div>
       <div class="form-group col-md-6">
      <label for="inputEmail4">Date</label>
      <input type="email" class="form-control" id="inputemail4" placeholder="">
    </div>
  </div>
		<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Durée</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="">
    </div>
      <div class="form-group col-md-6">
      <label for="inputEmail4">Prix</label>
      <input type="email" class="form-control" id="inputemail4" placeholder="">
    </div>
  </div>
 
  <button type="submit" class="btn btn-dark">Créer l'événement</button>
</form>