<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Quelqu'un s'est inscrit sur eventbrite-like.fr pour l'événement : <% @event.title %> 
 
À très vite sur eventbrit-like.fr !
    </p>
    
  </body>
</html>