/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
	text-align: center;
	text-decoration-color: beige;
	
}

h2 {
	
	text-align: center;
}

.jumbotron h1 {

color: blanchedalmond;
opacity: 0.6 ;
	}

.jumbotron 
{
  /* Choisis la hauteur ici */
  height: 600px;
  

  /* Tu lui donnes une image de background */
  background-image: url("fiesta.jpg");

  /* Centre l'image et la met bien sur tous les écrans */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
   padding: 20px;
      
}